<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Select Option Example</title>
</head>
<body>
<form action="#" th:action="@{/submit}" th:object="${role}" method="post">
    <label for="dropdown">Select an option:</label>
    <select id="dropdown" name="selectedOption" th:field="*{role}">
        <th:block th:each="option : ${role}">
            <input th:name="roleId" type="hidden" th:value="${option.id}"/>
            <option  th:value="${option.name}"></option>
        </th:block>
    </select>
    <button type="submit">Submit</button>
</form>
</body>
</html>
