<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>FoodHub - Existing User</title>
</head>
<body>
<div class="container">
    <br>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>User Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.userName}" />
            <td th:text="${user.firstName}" />
            <td th:text="${user.lastName}" />
            <td th:text="${user.email}" />
            <td>
                <div th:if="${#lists.size(user.roles) > 1}">
                    <th:block th:each="role : ${user.roles}">
                        <span th:text="${role.name}+' ,'"></span>
                    </th:block>
                </div>
                <div th:if="${#lists.size(user.roles) == 1}">
                    <th:block th:each="role : ${user.roles}">
                        <span th:text="${role.name}"></span>
                    </th:block>
                </div>
            </td>
            <td style="text-align: center;">
                <a th:href="@{/admin/checkOrder(userId=${user.id})}"
                   class="btn btn-info btn-sm">
                    Check Order
                </a>
                <a th:href="@{/admin/deleteUser(userId=${user.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this user?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <a class="btn btn-primary btn-lg" th:href="@{/}" role="button">Go to Home</a>
    </div>
</div>
</body>
</html>